In [ ]:
"""Списки, кортежи и множества."""

# Списки

In [ ]:
# Список можно создать (или как правильнее говорить инициализировать)
# через пустые квадратные скобки [] или с помощью функции list()

some_list_1: list[int] = []

print(some_list_1)

[] []

In [2]:
# Элементом списка может быть любой объект, например,
# число, строка, список или словарь.

number_three = [3, "число три", ["число", "три"], {"число": 3}]
number_three

[3, 'число три', ['число', 'три'], {'число': 3}]

In [3]:
# Длину списка можно узнать с помощью функции len().

len(number_three)

4

In [4]:
# Индекс и срез списка

# у списка есть положительный и отрицательный индексы
abc_list = ["a", "b", "c", "d", "e"]

# воспользуемся ими для вывода первого и последнего элементов
print(abc_list[0], abc_list[-1])

a e

In [5]:
# при работе с вложенным списком
salary_list = [["Анна", 90000], ["Игорь", 85000], ["Алексей", 95000]]

# мы вначале указываем индекс вложенного списка,
# а затем индекс элемента в нем
salary_list[1][0]

'Игорь'

In [6]:
# индекс можно узнать с помощью метода .index()
abc_list.index("c")

2

In [8]:
# метод .index() можно применить и ко вложенному списку

salary_list.index(["Игорь", 85000])

1

In [10]:
# создадим список с днями недели
days_list = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]

# и выведем со второго по пятый элемент
days_list[1:5]

['Вт', 'Ср', 'Чт', 'Пт']

In [11]:
# выведем каждый второй элемент в срезе с первого по пятый
days_list[:5:2]

['Пн', 'Ср', 'Пт']

In [12]:
# проверим есть ли "Пн" в списке
"Пн" in days_list

True

# Добавление, замена и удаление элементов списка

In [27]:
# создадим список
numbers = [1, 2, 3, 4, 5]

In [28]:
# добавим один элемент в конец списка с помощью метода .append()
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [29]:
# добавим элемент в определенное место в списке
# через желаемый индекс этого элемента
numbers.insert(0, 0)
print(numbers)

[0, 1, 2, 3, 4, 5, 6]

In [30]:
# изменим четвертый элемент в списке
numbers[3] = 10
print(numbers)

[0, 1, 2, 10, 4, 5, 6]

In [31]:
# удалим элемент по его значению
numbers.remove(10)
print(numbers)

[0, 1, 2, 4, 5, 6]

In [32]:
# удалим элемент по его индексу через ключевое слово del
del numbers[0]
print(numbers)

[1, 2, 4, 5, 6]

In [33]:
# сделаем то же самое с помощью метода .pop()
# этот метод выводит удаляемый элемент
numbers.pop(0)

1

In [ ]:
# Сложение списков
# Добавить к списку еще один список можно с помощью метода .extend()
list_one = [1, 2, 3]
list_two = [4, 5, 6]
list_one.extend(list_two)
print(list_one)

[1, 2, 3, 4, 5, 6]

In [40]:
# Кроме того, два списка можно просто сложить (concatenate).

list_three = [7, 8, 9]
combined_list = list_one + list_three
print(combined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# иногда бывает полезно «размножить» элементы списка.
["раз"] * 5

['раз', 'раз', 'раз', 'раз', 'раз']

In [42]:
# Такие «произведения» также можно складывать.

["раз"] * 3 + ["два"] * 2

['раз', 'раз', 'раз', 'два', 'два']

# Распаковка списков

In [43]:
# заново создадим список с днями недели
week = [
    "Понедельник",
    "Вторник",
    "Среда",
    "Четверг",
    "Пятница",
    "Суббота",
    "Воскресенье",
]

In [44]:
# указав индекс элемента, его можно записать в переменную
monday = week[0]
monday

'Понедельник'

In [45]:
# срез можно поместить в несколько переменных
monday, tuesday, wednesday = week[:3]

# важно, чтобы количество элементов среза было равно
# количеству переменных
monday, tuesday, wednesday

('Понедельник', 'Вторник', 'Среда')

In [46]:
# можно выделить первый элемент,
# а остальные поместить в переменную со звездочкой
monday, *_ = week
monday

'Понедельник'

In [47]:
# Аналогичным образом мы можем распаковать
# первый, *остальные и последний элемент списка.

monday, *days, sunday = week
monday, sunday

('Понедельник', 'Воскресенье')

# Сортировка списков

In [48]:
# Для сортировки списка можно использовать функцию sorted()
# и метод .sort(). Функция sorted() не изменяет объект
# и сразу выводит результат сортировки.

# отсортируем список по возрастанию
unsorted_list = [5, 2, 9, 1, 5, 6]
sorted(unsorted_list)

[1, 2, 5, 5, 6, 9]

In [49]:
# исходный список остается прежним
unsorted_list

[5, 2, 9, 1, 5, 6]

In [50]:
# Впрочем, если записать результат вызова функции sorted()
# в переменную, изменение станет постоянным
sorted_list = sorted(unsorted_list)
sorted_list

[1, 2, 5, 5, 6, 9]

In [51]:
# метод .sort() сохраняет результат, но не выводит его сразу
# reverse = True задает сортировку по убыванию
unsorted_list.sort(reverse=True)
unsorted_list

[9, 6, 5, 5, 2, 1]

In [52]:
# выведем результат
unsorted_list

[9, 6, 5, 5, 2, 1]

In [53]:
# метод .reverse() задает обратный порядок,
# сохраняет, но не выводит результат
unsorted_list.reverse()
# выведем результат
unsorted_list

[1, 2, 5, 5, 6, 9]

In [54]:
# функция reversed() возвращает итератор
type(reversed(unsorted_list))

"<class 'reversed'>"

In [55]:
# вывести результат можно с помощью функции list()
list(reversed(unsorted_list))

[9, 6, 5, 5, 2, 1]

In [56]:
# результат при этом не сохраняется
unsorted_list

[1, 2, 5, 5, 6, 9]

# Преобразование списка в строку

In [57]:
# дан список из строковых элементов
str_list = ["P", "y", "t", "h", "o", "n"]

In [58]:
# с помощью метода .join() можно соединить все элементы
joined_str = "".join(str_list)
joined_str

'Python'

In [59]:
# если в кавычках ничего не указывать, элементы просто соединятся,
# но можно указать любой другой элемент
joined_str_with_dash = "-".join(str_list)
joined_str_with_dash

'P-y-t-h-o-n'

# Арифметика в списках

In [60]:
# дан список чисел
nums_ = [3, 2, 1, 4, 5, 12, 3, 3, 7, 9, 11, 15]

In [61]:
# с помощью метода .count() мы можем посчитать
# частоту вхождения элемента в список
nums_.count(3)

3

In [62]:
# кроме того мы можем найти минимальное и максимальное значения
# и сумму элементов
result = (min(nums_), max(nums_), sum(nums_))
result

(1, 15, 75)

# List comprehension

In [ ]:
# А теперь рассмотрим list comprehension. По сути, list comprehension
# позволяет превратить один список в другой, преобразовывая и отбирая
# элементы исходного списка.

In [63]:
# дан список имен
names = ["Артем", "Антон", "Александр", "Борис", "Виктор", "Геннадий"]

In [64]:
# оставим имена, начинающиеся с буквы "А"

a_names = [name for name in names if name.startswith("А")]
a_names

['Артем', 'Антон', 'Александр']

In [65]:
# переведем все буквы в строчные, условие здесь не нужно
lower_names = [name.lower() for name in names]
lower_names

['артем', 'антон', 'александр', 'борис', 'виктор', 'геннадий']

In [66]:
# схема условия if-else немного отличается
# оставляем имя, если это не Виктор, если Виктор - заменяем на Вадим
replace_name = [name if name != "Виктор" else "Вадим" for name in names]
replace_name

['Артем', 'Антон', 'Александр', 'Борис', 'Вадим', 'Геннадий']

# Кортежи

In [67]:
# Кортеж (tuple) инициализируется при помощи круглых скобок ()
# или функции tuple().

# создадим две переменные и поместим в них пустые кортежи
tuple_1: tuple[str, ...] = ()
tuple_2: tuple[str, ...] = ()
print(tuple_1, tuple_2)

() ()

In [68]:
# Во многом кортеж похож на список.
# Это также упорядоченный набор элементов с индексом,
# начинающимся с нуля.

# создадим кортеж
letters: tuple[str, ...] = ("a", "b", "c")

# и выведем его первый элемент
letters[0]

'a'

In [69]:
# но изменить элемент, как мы это делали в списке, нельзя
# letters[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [70]:
# для изменения элемента кортеж вначале нужно преобразовать в список
letters_list: list[str] = list(letters)
letters_list[0] = "d"
letters_list

['d', 'b', 'c']

In [71]:
# кортеж из одного элемента можно создать с помощью запятой
single_letter: tuple[str] = ("a",)
type(single_letter)

tuple

In [72]:
# если запятую не указывать, получится строка
not_tuple: str = "a"
type(not_tuple)

str

# Функция enumerate()

In [73]:
# Если в цикле с функцией enumerate() использовать не две,
# как мы делали раньше, а одну переменную, результатом ее работы
# будет кортеж, состоящий из индекса и соответствующего элемента
# списка.

# создадим список с названием трех компаний
companies = ["Microsoft", "Apple", "Tesla"]

# и в цикле поместим результат работы функции enumerate()
# в одну переменную company
for company_item in enumerate(companies):
    print(company_item)

(0, 'Microsoft')
(1, 'Apple')
(2, 'Tesla')

In [74]:
# Просмотр элементов словаря

# Аналогично, если в цикле for к словарю применить знакомый нам
# метод .items() и использовать только одну переменную,
# мы получим кортежи из ключа и значения.

shopping_dict = {"огурцы": 2, "помидоры": 3, "лук": 1, "картофель": 2}

In [75]:
# то же самое со словарем и методом .items()
for item in shopping_dict.items():
    print(item)

('огурцы', 2)
('помидоры', 3)
('лук', 1)
('картофель', 2)

# Распаковка кортежей

In [76]:
# Распаковать кортеж — значит поместить каждый
# из его элементов в отдельную переменную.

# если в кортеже три элемента, то и переменных должно быть три
letter_a, letter_b, letter_c = ("a", "b", "c")

# выведем переменную letter_a
print(letter_a)

a

In [77]:
# снова возьмем список компаний
companies = ["Microsoft", "Apple", "Tesla"]

# однако с функцией enumerate() используем две переменные
for index, company in enumerate(companies):
    print(index, company)

0 Microsoft
1 Apple
2 Tesla

In [78]:
# С элементами словаря получается то же самое.

shopping_dict = {"огурцы": 2, "помидоры": 3, "лук": 1, "картофель": 2}

# используем две переменные с методом .items()
for key, value in shopping_dict.items():
    print(key, value)

огурцы 2
помидоры 3
лук 1
картофель 2

# Создание кортежа через функцию zip()

In [79]:
# если есть два и более списка
names = ["Артем", "Антон", "Александр", "Борис", "Виктор", "Геннадий"]
income = [97000, 110000, 95000, 84000, 140000, 120000]

# функция zip() соединит первые элементы списков,
# вторые элементы списков и т.д.
type(zip(names, income))

zip

In [80]:
# для вывода результата нужно передать zip-объект в функцию list()
# на выходе мы получим список из кортежей
list(zip(names, income))

[('Артем', 97000), ('Антон', 110000), ('Александр', 95000), ('Борис', 84000), ('Виктор', 140000), ('Геннадий', 120000)]

# Множества

In [ ]:
# элементы множества изменять нельзя;
# множество — это набор уникальных элементов, а значит повторы
# в нем удаляются;
# у множества нет индекса, элементы не упорядочены.

In [81]:
# Создание множества
# пустое множество задается через функцию set()
set_1: set[str] = set()

# непустое множество задается через функцию set() и список элементов
set_2: set[str] = {"a", "b", "c"}

# или путем перечисления элементов в фигурных скобках {}
set_3: set[str] = {"a", "b", "c"}

# множество содержит только уникальные элементы,
# поэтому дубликаты удаляются
print(set_1, set_2, set_3)

set() {'a', 'c', 'b'} {'a', 'c', 'b'}

In [82]:
# создать множество через пустые фигурные скобки нельзя
not_a_set: dict[str, str] = {}

# так создается словарь
type(not_a_set)

dict

In [83]:
# Добавление и удаление элементов
# предположим, что мы хотим создать множество гласных букв
# в русском языке
vowels: set[str] = {"а", "о", "э", "е", "у", "ё", "ю"}

In [84]:
# добавим одну букву "я" методом .add()
vowels.add("я")
vowels

{'а', 'е', 'о', 'у', 'э', 'ю', 'я', 'ё'}

In [85]:
# добавим две буквы "и" и "ы" методом .update()
vowels.update(["и", "ы"])
vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

In [86]:
# если по ошибке мы добавим согласную букву,
vowels.add("щ")
vowels

{'а', 'е', 'и', 'о', 'у', 'щ', 'ы', 'э', 'ю', 'я', 'ё'}

In [87]:
# ее можно удалить методом .remove()
vowels.remove("щ")
vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

# Теория множеств в Питоне

In [88]:
# два множества равны, если содержат одинаковые элементы,
# при этом порядок элементов не важен
{"a", "b", "c"} == {"c", "b", "a"}

True

In [89]:
# выведем мощность множества с помощью функции len()
len({"a", "b", "c"})

3

In [90]:
# проверим, содержится ли элемент во множестве
"a" in {"a", "b", "c"}

True

In [91]:
# возможна и обратная операция
"a" not in {"a", "b", "c"}

False

In [92]:
# проверим является ли А подмножеством В
set_a: set[str] = {"a", "b", "c"}
set_b: set[str] = {"a", "b", "c", "d", "e", "f"}

set_a.issubset(set_b)

True

In [93]:
# проверим является ли B надмножеством А
set_b.issuperset(set_a)

True

In [94]:
# даны участники команд по обработке естественного языка (nlp)
# и компьютерному зрению (cv)
nlp: set[str] = {"Анна", "Николай", "Павел", "Оксана"}
cv: set[str] = {"Николай", "Евгений", "Ольга", "Оксана"}

In [97]:
# найдем тех, кто работает или в nlp, или в cv, или в обеих командах
print(nlp.union(cv))

# или символ |
print(nlp | cv)

{'Оксана', 'Николай', 'Павел', 'Анна', 'Евгений', 'Ольга'}
{'Оксана', 'Николай', 'Павел', 'Анна', 'Евгений', 'Ольга'}

In [98]:
# найдем тех, кто работает и в nlp, и в cv одновременно
print(nlp.intersection(cv))

# или символ &
print(nlp & cv)

{'Оксана', 'Николай'}
{'Оксана', 'Николай'}

In [99]:
# найдем тех, кто работает только в nlp
print(nlp.difference(cv))

# или символ -
print(nlp - cv)

{'Павел', 'Анна'}
{'Павел', 'Анна'}